<div class="container" *ngFor="let cinema of cinemas">
  <div class="list-group list-group-flush border-bottom scrollarea">
    <div
      class="list-group-item list-group-item-action py-3 lh-sm"
      aria-current="true"
    >
      <div class="d-flex align-items-center justify-content-between">
        <strong class="mb-1">
          <i class="fa fa-map-pin" style="color: black"></i>

          {{ cinema.nomCinema }}
        </strong>
      </div>
      <div class="">
        <div
          class="col-10 mb-1 small d-flex align-items-center justify-content-between"
        >
          <p>{{ getCinemaAddress(cinema) }}</p>
          <p style="font-weight: bolder; font-size: larger">
            {{ cinema.adresse?.ville }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
