<div class="cover d-flex flex-column text-center text-white bg-dark justify-content-center vh-100">
  <div class="w-50 mx-auto">
    <h1 class="heading">Contactez nous</h1>
    <p>Faites nous part de vos commentaires.</p>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" formControlName="name" />
        <div *ngIf="
            userForm?.get('name')?.invalid && userForm?.get('name')?.touched
          " class="text-danger">
          Le nom est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" />
        <div *ngIf="
            userForm?.get('email')?.invalid && userForm?.get('email')?.touched
          " class="text-danger">
          Veuillez saisir une addresse courriel valide.
        </div>
      </div>
      <div class="dropdown form-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Objet de la demande
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Probleme de connexion</a></li>
          <li><a class="dropdown-item" href="#">Probleme de paiement</a></li>
          <li><a class="dropdown-item" href="#">Mot de passe perdu</a></li>
        </ul>
      </div>


      <div class="form-group">
        <label for="comment">Votre commentaire</label>
        <textarea class="form-control" formControlName="comment" name="comment"></textarea>
        <div *ngIf="
            userForm?.get('comment')?.errors?.required &&
            userForm?.get('comment')?.touched
          " class="text-danger">
          Votre commentaire est requis.
        </div>
        <div *ngIf="
            userForm?.get('comment')?.errors?.minlength &&
            userForm?.get('comment')?.touched
          " class="text-danger">
          Le commentaire doit avoir au moins 5 caractères.
        </div>
      </div>

      <button type="submit" class="btn btn-lg btn-secondary w-50 my-3 fw-bold border-white ">
        Submit
      </button>
    </form>
  </div>
</div>