<!-- Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  #loginModal
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content justify-content-center align-items-center p-2">
      <section class="px-1 m-2">
        <div
          class="container h-100 bg-white border rounded border-0 rounded-3 m-2"
        >
          <div class="row justify-content-around align-items-center">
            <div class="col-md col-lg-6 p-2 bg-dark">
              <img
                src="/assets/Login-image.jpg"
                class="img-fluid rounded px-1"
                alt="Login image"
              />
            </div>
            <div class="col-md-6 col-lg-6 col-xl-5">
              <form
                class="py-3 px-2"
                action="#!"
                [formGroup]="loginForm"
                (ngSubmit)="submitForm()"
              >
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="errorMessage.length"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                    <symbol
                      id="exclamation-triangle-fill"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                      />
                    </symbol>
                  </svg>
                  <div class="d-flex" *ngFor="let msg of errorMessage">
                    <svg
                      class="bi flex-shrink-0 me-2"
                      width="24"
                      height="24"
                      role="img"
                      aria-label="Danger:"
                    >
                      <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div>{{ msg }}</div>
                  </div>
                </div>
                <div *ngIf="isNewUser">
                  <!-- Nom input -->
                  <div class="form-outline mb-2">
                    <label class="form-label" for="nom"
                      >Nom<span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      id="nom"
                      class="form-control form-control-lg"
                      formControlName="nom"
                    />
                    <div
                      *ngIf="
                        loginForm?.get('nom')?.invalid &&
                        loginForm?.get('nom')?.touched
                      "
                      class="text-danger"
                    >
                      Le nom doit contenir au moins 3 caractères.
                    </div>
                  </div>
                  <!-- Prenom input -->
                  <div class="form-outline mb-2">
                    <label class="form-label" for="prenom"
                      >Prénom<span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      id="prenom"
                      class="form-control form-control-lg"
                      formControlName="prenom"
                    />
                    <div
                      *ngIf="
                        loginForm?.get('prenom')?.invalid &&
                        loginForm?.get('prenom')?.touched
                      "
                      class="text-danger"
                    >
                      Le prénom doit contenir au moins 3 caractères.
                    </div>
                  </div>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-2 mt-2">
                  <label class="form-label" for="courriel"
                    >Adresse Courriel<span class="text-danger">*</span></label
                  >
                  <input
                    type="email"
                    id="courriel"
                    class="form-control form-control-lg"
                    formControlName="courriel"
                  />
                </div>
                <div class="col-12 col-md-6 w-100">
                  <div
                    *ngIf="
                      loginForm?.get('courriel')?.invalid &&
                      loginForm?.get('courriel')?.touched
                    "
                    class="text-danger"
                  >
                    Veuillez saisir une adresse courriel valide.
                  </div>
                </div>
                <br />
                <!-- Password input -->
                <div class="form-outline mb-2">
                  <label class="form-label" for="password"
                    >Mot de Passe<span class="text-danger">*</span></label
                  >
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                    formControlName="password"
                  />
                </div>
                <div class="col-12 col-md-6 w-100">
                  <div
                    *ngIf="
                      loginForm?.get('password')?.invalid &&
                      loginForm?.get('password')?.touched
                    "
                    class="text-danger"
                  >
                    <div *ngIf="loginForm.get('password')?.errors?.required">
                      Le mot de passe est requis.
                    </div>
                    <div
                      *ngIf="loginForm.get('password')?.errors?.invalidPassword"
                    >
                      Le mot de passe doit avoir entre 10 et 20 caractères, au
                      moins une majuscule (A-Z), une minuscule (a-z), un chiffre
                      et un caractère spécial.
                    </div>
                  </div>
                  <br />
                  <div
                    class="d-flex justify-content-around align-items-center mb-4"
                  >
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="form1Example3"
                        checked
                      />
                      <label
                        class="form-check-label"
                        for="form1Example3"
                        style="color: black !important"
                      >
                        Se souvenir de moi
                      </label>
                    </div>

                    <a href="#!" style="color: black">Mot de Passe oublié?</a>
                  </div>

                  <!-- Submit button -->
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-dark btn-block">
                      {{ isNewUser ? "S'enregistrer" : "Se Connecter" }}
                    </button>
                  </div>

                  <div
                    class="divider d-flex align-items-center my-3 justify-content-center"
                  >
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                  </div>

                  <div class="d-flex justify-content-center">
                    <a class="btn btn-dark btn-block" href="#!" role="button">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        viewBox="0 0 300 300"
                      >
                        <path
                          fill="#4285f4"
                          d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                        />
                        <path
                          fill="#34a853"
                          d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                        />
                        <path
                          fill="#fbbc05"
                          d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602z"
                        />
                        <path
                          fill="#eb4335"
                          d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                        />
                      </svg>
                      Continuer avec Google
                    </a>
                  </div>
                  <br />
                </div>
              </form>
              <a>
                <p class="text-center">
                  {{
                    !isNewUser
                      ? "Vous n'avez pas encore de compte?"
                      : "Vous avez déjà un compte?"
                  }}
                  <a
                    class="text-dark"
                    (click)="toggleNewUser()"
                    style="cursor: pointer"
                  >
                    {{ !isNewUser ? "S'inscrire" : "Se connecter" }}
                  </a>
                </p>
              </a>
              <div class="h-100">
                <a
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  Fermer</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
