.food-section {
  background-image: linear-gradient(to left top,
      rgba(189, 187, 38, 0.511),
      rgba(0, 0, 0, 0.575) 70%),
    url(https://images.unsplash.com/photo-1598899134739-24c46f58b8c0?q=80&w=1756&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.nav-tabs .nav-link {
  width: 14rem;
  text-align: center;
  color: white;
  border: none;
  font-weight: bold;
  background-color: transparent;
}

.nav-tabs .nav-link.active {
  border-bottom: 5px solid #1785f4;
  color: #1785f4;
  background-color: transparent;
}

img {
  border-radius: 5px 5px 0px 0px;
}

.img-card .card {
  margin-top: 1re;
  border: none;
  background-color: black;
  color: white;
}

.img-card .card-title,
.img-card .card-body,
.img-card small {
  margin: 0.5rem;
  padding: 0px;
}

.img-card .card p {
  color: #727c8c;
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: bold;
}

.img-card:hover {
  transform: scale(1.005);
  transition: 0.2s ease;
}

.shopping-cart-container {
  width: 4rem;
  padding: .5rem;
  margin: 2rem;
  backdrop-filter: blur(3px);
  transition: all .5s;
}

.shopping-cart-container:hover {
  transform: translateY(-1rem);
}

.shopping-cart-container a {
  cursor: pointer;
}