<app-menu></app-menu>

<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">CINEPRO</span>
      <span class="heading-primary--sub">Donnez vie à votre imagination</span>
    </h1>
    <a routerLink="/booking" class="btn btn--white btn--animated"
      >Consultez les horaires</a
    >
    <div class="d-flex align-items-center justify-content-center">
      <p style="color: antiquewhite; margin-top: 5rem">
        CinePro est une entreprise canadienne spécialisée dans l'exploitation de
        salles de cinéma et la distribution de films. Fondée en 1912, elle est
        devenue l'une des plus grandes chaînes de cinémas au Canada, avec des
        centaines de salles à travers le pays. CinePro propose une expérience
        cinématographique diversifiée, allant des grands blockbusters
        hollywoodiens aux films indépendants et étrangers, en passant par des
        événements spéciaux comme des projections en IMAX, en 3D et en UltraAVX.
        CinePro propose également des programmes de fidélisation, tels que le
        programme Show, qui permet aux clients de gagner des points pouvant être
        échangés contre des billets de cinéma gratuits, des collations et
        d'autres récompenses. La société fait appel à votre expertise pour
        innover leur site web et améliorer l’expérience de l’utilisateur.
      </p>
    </div>

    <p class="empty-div"></p>
  </div>
</header>
<app-footer></app-footer>
