.page-accueil {
    background-image: linear-gradient(to right bottom, rgba(54, 59, 53, 0.8), rgba(102, 86, 146, 0.8)),
        url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    position: relative;
}