<div
  id="carouselExampleControls"
  class="carousel slide bg-dark"
  data-bs-ride="carousel"
  style="height: 400px"
>
  <div class="carousel-inner">
    <div class="carousel-item active h-25">
      <a href="www.cineplex.com">
        <div>
          <img
            src="https://placehold.co/200x300/orange/white?text=Avatar"
            class="d-block p-2 w-30"
            alt="Avatar"
          />
        </div>
        <div class="carousel-caption text-end">
          <h1>Avatar</h1>
          <p>Some representative .</p>
          <p>
            <button class="btn btn-lg btn-primary" disabled>
              Sign up today
            </button>
          </p>
        </div>
      </a>
    </div>
    <div class="carousel-item h-25">
      <a href="www.bestbuy.com">
        <div>
          <img
            src="https://placehold.co/200x300/green/white?text=Kung+Fu+Panda"
            class="d-block p-2 w-30"
            alt="Panda"
          />
        </div>
        <div class="carousel-caption text-end">
          <h1>Kung Fu Panda</h1>
          <p>Some representative .</p>
          <p>
            <button class="btn btn-lg btn-primary" disabled>
              Sign up today
            </button>
          </p>
        </div>
      </a>
    </div>

    <div class="carousel-item h-25">
      <a href="www.apple.com">
        <div>
          <img
            src="https://placehold.co/200x300/violet/white?text=Demon+Slayer"
            class="d-block p-2 w-30"
            alt="Demon"
          />
        </div>
        <div class="carousel-caption text-end">
          <h1>Slayer</h1>
          <p>Some representative .</p>
          <p>
            <button class="btn btn-lg btn-primary" disabled>
              Sign up today
            </button>
          </p>
        </div>
      </a>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
