<div
  id="carouselExampleControls"
  class="carousel slide bg-transparent"
  data-bs-ride="carousel"
  style="height: 400px"
>
  <div class="carousel-inner">
    <div class="carousel-item active h-25">
      <div>
        <img
          src="https://www.cineplex.com/_next/image?url=https%3A%2F%2Fmediafiles.cineplex.com%2Fcineplex-v2%2Fbillboard-block%2FGF_2560x400_ER_Banners_CAN_MAY_20240424134033_0.jpg&w=1920&q=100"
          class="d-block p-2"
          alt="Avatar"
        />
      </div>
    </div>
    <div class="carousel-item h-25">
      <div>
        <img
          src="https://www.cineplex.com/_next/image?url=https%3A%2F%2Fmediafiles.cineplex.com%2Fcineplex-v2%2Fbillboard-block%2FDesktop%2520wide_dated_20240410144310_0.jpg&w=1920&q=100"
          class="d-block p-2"
          alt="Panda"
        />
      </div>
    </div>

    <div class="carousel-item h-25">
      <div>
        <img
          src="https://www.cineplex.com/_next/image?url=https%3A%2F%2Fmediafiles.cineplex.com%2Fcineplex-v2%2Fbillboard-block%2FWB_Challengers_Cineplex_EN_NowPlaying_Desktop-wide_20240426111751_0.png&w=1920&q=100"
          class="d-block p-2"
          alt="Demon"
        />
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
