<div class="card">
  <div class="row">
    <div class="col-md-8 cart">
      <!-- Rabais standards -->
      <div class="row">
        <div class="row main align-items-center">
          <h3><b>Modes de Paiement</b></h3>
        </div>
      </div>
      <!-- Coupons / Code promos -->
      <div class="row">
        <div class="row main align-items-center">
          <h4><b>Bons commerciaux ou code promotionnel</b></h4>
          <!-- Ligne de tarification -->
          <div class="col-12 d-flex flex-column">
            <p>
              Ajoutez un code de votre bon ou un code promotionnel à appliquer à
              vos billets (limite de un coupon par réservation) :
            </p>
            <input type="text" class="my-0" />
          </div>
        </div>
      </div>
      <!-- Les points Show -->
      <div class="row">
        <div class="row main align-items-center">
          <h3><b>Vos points Show</b></h3>
          <!-- Ligne de tarification -->
          <div class="col-12 d-flex justify-content-between">
            <p>Votre total de points</p>
            <p>157 points</p>
          </div>
          <div class="col-12 d-flex justify-content-between align-items-center">
            <p class="my-auto">Utilisez vos points</p>
            <input type="checkbox" class="my-auto" style="width: 2rem" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Récapitulatif du paiement -->
  <div class="row">
    <div class="col-md-8 cart">
      <div class="row border-top">
        <div class="row main align-items-center">
          <h3><b>Récapitulatif du paiement</b></h3>
        </div>
      </div>
      <!-- Les points Show -->
      <div class="row">
        <div class="row main align-items-center">
          <!-- Lignes de tarification -->
          <div class="col-12 d-flex justify-content-between">
            <p>Nombre de billets(2)</p>
            <p>18.00$</p>
          </div>
          <div class="col-12 d-flex justify-content-between">
            <p>Taxes</p>
            <p>3.00$</p>
          </div>
          <div class="col-12 d-flex justify-content-between fw-bold">
            <p class="">Total</p>
            <p>21.00$</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
