<div class="card text-white m-2">
  <div class="card-header d-flex" style="background-color: #111723">
    <div class="d-flex gap-2">
      <h5>{{ seance.ultraAVX ? "UltraAVX" : "" }}</h5>
      <h5>{{ seance.imax ? "IMAX" : "" }}</h5>
      <h5>{{ seance.troisD ? "3D" : "" }}</h5>
      <h5>
        {{
          !seance.ultraAVX && !seance.troisD && !seance.imax ? "Regulier" : ""
        }}
      </h5>
    </div>
    <p class="mx-5 border rounded border-2 px-2">
      <span style="font-weight: bold">{{ selectedMovie.langue }}</span>
    </p>
    <p class="mx-5 bold px-2">
      <span style="font-weight: bold">{{
        selectedMovie.soustitre === "none" ? "" : selectedMovie.soustitre
      }}</span>
    </p>
  </div>
  <div
    class="card-body"
    style="background-image: linear-gradient(#111723, #101c33)"
  >
    <div>
      <div class="d-flex">
        <a
          class="btn btn-primary mx-2 px-4"
          routerLink="/booking"
          style="font-weight: bold"
        >
          {{ seance.heureDebut | date : "shortTime" }}
        </a>
      </div>
      <hr style="height: 2px" />
      <div class="d-flex justify-content-center">
        <div class="p-0">
          <svg
            fill=""
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
          >
            <path d="M6.75 21.5V20M17.25 21.5V20" stroke="#1780f7"></path>
            <path
              clip-rule="evenodd"
              d="M18.144 19.75H5.856c-.746 0-1.356-.66-1.356-1.466L5.585 6.47c0-1.771 1.34-3.22 2.98-3.22h6.87c1.64 0 2.98 1.449 2.98 3.22L19.5 18.284c0 .806-.61 1.466-1.356 1.466Z"
              stroke="#1780f7"
            ></path>
            <path
              d="M10 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM10 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM14 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM14 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"
              fill="#1780f7"
            ></path>
            <path
              d="M4.5 15.5h15M2.5 12v4.5H5M19 16.5h2.5V12"
              stroke="#1780f7"
            ></path>
          </svg>
        </div>
        <a class="btn mx-2 px-2" style="font-weight: bold; color: #1780f7">
          Seats preview</a
        >
      </div>
    </div>
  </div>
</div>
